body {

    height: 600px;
    margin: 0;
    display: flex;
    flex-direction: column;
  
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
    align-items: center;
  }

  #cat {
    padding-left: 12vw;
    width: 400;
    height: auto;
  }

  .start {
    font-family: 'Black Ops One', cursive;
    font-size:38px ;
    color: rgb(32, 32, 181);
    text-decoration: none;
  }


#text {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  padding-left: 23vw;
  padding-right: 23vw;
  font-size: 25px;
}

p{
  text-align: center;
}

#red {
  color: red;
}

a:hover {
  color: rgb(77, 79, 246);
}
